#!/bin/bash -e

# To enable this hook, rename this file to "conflict".

DIR="$(dirname "$(readlink -f "$0")")" && cd "$DIR" || exit 1

mapfile -t LIST < /dev/stdin

BA="${LIST[0]}"
BB="${LIST[1]}"

CNT="${#LIST[@]}"
((CNT-=2))

echo
echo "hook branch A: $BA"
echo "hook branch B: $BB"
echo "hook files ( $CNT ):"

for FILE in "${LIST[@]:2}"
do
	echo "hook file: $FILE"
done
